{{ define "main" }}

<link rel="preload" as="image" href="/images/int-m.webp">
<link rel="preload" as="image" href="/assets/images/int-m.webp">
<link rel="stylesheet" href="/css/">


<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner">
    <div class="cs-container">
        <span class="cs-int-title">For Workers</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/image/about/int.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/image/about/int.jpg">
        <img aria-hidden="true" decoding="async" src="/image/about/int.jpg" alt="comic background" width="1280" height="568">
    </picture>
</div>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-17">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-topper">What We Do</div>
            <h2 class="cs-title">How We Empower Healthcare Workers</h2>
            <p class="cs-text">
                Looking for your next short-term job should be a cinch when you're a qualified and available healthcare worker.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Schedule Flexibility</h3>
                    <p class="cs-item-text">Whether you're an early bird or a night owl, we'll match you with the shifts that suit your needs.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Direct Payments</h3>
                    <p class="cs-item-text">No need to spend time chasing checks - you'll receive timely payment right to your bank account.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Wage Preference</h3>
                    <p class="cs-item-text">Declare your desired earnings and you'll only see positions that met that pay scale.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Low-cost Connections</h3>
                    <p class="cs-item-text">When you cut out the middle-man agency and associated costs, you get more affordable help and higher wages.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Added Benefits</h3>
                    <p class="cs-item-text">To further show our appreciation for our healthcare roster, we'll negotiate perks like coffee allowance, a self care budget, completion bonuses and more.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Travel Opportunities</h3>
                    <p class="cs-item-text">Looking to work in a bustling city, or prefer a scenic view? Canada-wide jobs  openings suit those that love to explore the country while they work.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Resume Growth</h3>
                    <p class="cs-item-text">Bulk up your CV with short-term contract gigs that help make you even more appealing to future employers.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Referral Bonus</h3>
                    <p class="cs-item-text">Tell your friends in the industry about Hero Care and we'll thank you with a healthy bonus.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Timely Assistance</h3>
                    <p class="cs-item-text">You will have access to a responsive dedicated account manager to support your role with Hero Care</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-584">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Process</span>
            <h2 class="cs-title">Simple easy steps to get started</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">Process 1</h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit ameet. Don nisi ligula eget dolor quam et. Aenean massa. Cum sociis 
                </p>
                <span class="cs-number">01</span>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Process 1</h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit ameet. Don nisi ligula eget dolor quam et. Aenean massa. Cum sociis 
                </p>
                <span class="cs-number">01</span>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Process 1</h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit ameet. Don nisi ligula eget dolor quam et. Aenean massa. Cum sociis 
                </p>
                <span class="cs-number">01</span>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Process 1</h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit ameet. Don nisi ligula eget dolor quam et. Aenean massa. Cum sociis 
                </p>
                <span class="cs-number">01</span>
            </li>
        </ul>
    </div>
</section>


<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-262">
    <div class="cs-container">
        <div class="cs-left-section">
            <h2 class="cs-title">Schedule Your Next Checkup With Us</h2>
            <a href="" class="cs-button-solid">Request Appointment</a>
        </div>
        <div class="cs-content">
            <span class="cs-header">Available Hours</span>
            <p class="cs-p"> 
                Tuesday, Thursday, Friday: 9am-6pm<br>
                ​(closed for lunch 12pm-2pm)
            </p>
            <p class="cs-p">
                Appointments Preferred, Walk-Ins Welcome.<br>
                Saturdays by Appointment Only.
            </p>
        </div>
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cloth-m.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cloth.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/CTA/cloth.jpg" alt="appliance" width="275" height="132">
        </picture>
    </div>
</section>


                                


    
{{ end }}
