<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Swap our for actual link-->
    <link rel="canonical" href="/">

    <meta name="description" content="">
    <meta name="keywords" content="">

    <!--Social Media Display-->
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content=""/>
    <meta property="og:image" content="/assets/images/hero.png"/>
    <meta property="og:image:secure_url" content="/assets/images/hero.png"/>

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Preload -->
    
    <link rel="preload" as="image" href="/assets/images/herocare.svg">
    <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v29-latin-regular.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v29-latin-700.woff2" crossorigin>

    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/dark.css">

    <!-- Loading in page specific CSS sheets from css block -->
    

    <!--Put analytics tag here at the bottom to prevent it from render blocking-->

    <title>Insert Page Title Here</title>
</head>
<body>
    <!--Screen reader skip main nav-->
    <a class="skip" aria-label="skip to main content" href="#main">Click To Skip To Main Content</a>

    <!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <img src="/image/icon/logo.svg" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded-758" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link ">
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/about" class="cs-li-link cs-active">
                            About Us
                        </a>
                    </li>
                    <li class="cs-li cs-dropdown" tabindex="0">
                        <span class="cs-li-link ">
                            Healthcare Workers
                            <img class="cs-drop-icon" src="/image/icon/Icons_down.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                        </span>
                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li">
                                <a href="/workers" class="cs-li-link cs-drop-link">Nurses</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/workers" class="cs-li-link cs-drop-link">PSWs</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/workers" class="cs-li-link cs-drop-link">Nurse Practitioners</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/workers" class="cs-li-link cs-drop-link">Dental Hygienists</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/workers" class="cs-li-link cs-drop-link">Dental Assistants</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/workers" class="cs-li-link cs-drop-link">Physicians</a>
                            </li>
                        </ul>
                    </li>
                    <li class="cs-li cs-dropdown" tabindex="0">
                        <span class="cs-li-link ">
                            Organizations
                            <img class="cs-drop-icon" src="/image/icon/Icons_down.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                        </span>
                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li">
                                <a href="/organizations" class="cs-li-link cs-drop-link">Long Term Care Homes</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/organizations" class="cs-li-link cs-drop-link">Retirement Homes</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/organizations" class="cs-li-link cs-drop-link">Hospitals</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/organizations" class="cs-li-link cs-drop-link">Clinics</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/organizations" class="cs-li-link cs-drop-link">Dental</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/organizations" class="cs-li-link cs-drop-link">Corporate</a>
                            </li>
                        </ul>
                    </li>
                    <li class="cs-li">
                        <a href="/blog" class="cs-li-link ">
                            Blog
                        </a>
                    </li>
                    <li class="cs-li cs-nav-button">
                        <a href="/contact" class="cs-button-solid">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="/contact" class="cs-button-solid cs-cta-button">Contact Us</a>
        <!--Dark Mode toggle, uncomment button code if you want to enable a dark mode toggle-->
        <button id="dark-mode-toggle" aria-label="dark mode toggle">
            <svg class="cs-moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480" xml:space="preserve"><path d="M459.782 347.328c-4.288-5.28-11.488-7.232-17.824-4.96-17.76 6.368-37.024 9.632-57.312 9.632-97.056 0-176-78.976-176-176 0-58.4 28.832-112.768 77.12-145.472 5.472-3.712 8.096-10.4 6.624-16.832S285.638 2.4 279.078 1.44C271.59.352 264.134 0 256.646 0c-132.352 0-240 107.648-240 240s107.648 240 240 240c84 0 160.416-42.688 204.352-114.176 3.552-5.792 3.04-13.184-1.216-18.496z"/></svg>
            <img class="cs-sun" aria-hidden="true" src="/image/icon/sun.svg" decoding="async" alt="moon" width="15" height="15">
        </button>
    </div>
</header>
                                
    <main id="main">

<link rel="preload" as="image" href="/images/int-m.webp">

<link rel="preload" as="image" href="/assets/images/int-m.webp">




<link rel="stylesheet" href="/css/organizations.css">


<!-- Enter html code below -->

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner">
    <div class="cs-container">
        <span class="cs-int-title">Organizations</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/image/about/int.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/image/about/int.jpg">
        <img aria-hidden="true" decoding="async" src="/image/about/int.jpg" alt="comic background" width="1280" height="568">
    </picture>
</div>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-17">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-topper">Next Level Service</div>
            <h2 class="cs-title">How We Empower Organizations</h2>
            <p class="cs-text">
                When reputable healthcare businesses are in need of qualified healthcare workers, we have the solutions
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Increased Placement Speed</h3>
                    <p class="cs-item-text">Our unique technology optimizes the process of finding a healthcare pro in a hurry.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Quality Connections</h3>
                    <p class="cs-item-text">You'll only be matched with the most qualified and experienced candidates.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Hero Care Healthcare Experience</h3>
                    <p class="cs-item-text">Our company was founded by nurses and doctors who have extended that experience into our process. We speak your language.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Payment Processing</h3>
                    <p class="cs-item-text">We'll handle payday so you can focus on taking care of business.  Organizations can also pay as you go and enjoy Hero Care risk-free!</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Timely Assistance</h3>
                    <p class="cs-item-text">You will have access to a responsive dedicated account manager who will help with any questions or program requests.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Supportive Technology</h3>
                    <p class="cs-item-text">Connect with Hero Care on the go and fill open positions effortlessly.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Expert Vetting</h3>
                    <p class="cs-item-text">We do all the digging to guarantee safe and secure hires - all candidates are vetted by another healthcare professional for the highest level of quality control.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Extensive Onboarding</h3>
                    <p class="cs-item-text">From detailed Infection Prevention and Control policy training to immunizations and Criminal record check collection verification, we ensure all requirements are completed before on-site training begins.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Reputable Recruitment</h3>
                    <p class="cs-item-text">Your team will be able to access our recruitment department when needed.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Robust Roster Access</h3>
                    <p class="cs-item-text">Hero Care is connected to an extensive team of <strong>10,000 healthcare professionals</strong> across Canada - many clients will draw from our current roster to fill shifts quickly and efficiently.</p>
                </div>
            </li>
        </ul>
        <a href="/contact" class="cs-button-solid">Get Free Quote</a>
    </div>
</section>

<!-- ============================================ -->
<!--                  Dashboard                   -->
<!-- ============================================ -->

<section id="sbs-290" class="organization">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/image/about/dash-group.png">
                <source media="(min-width: 601px)" srcset="/image/about/dash-group.png">
                <img loading="lazy" decoding="async" src="/image/about/dash-group.png" alt="people in a meeting" width="398" height="393">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">The App</span>
            <h2 class="cs-title">Hero Care Desktop Dashboard</h2>
            <p class="cs-text">
                Hero Care’s user-friendly desktop dashboard allows you to easily post shifts and contracts, review and accept fully vetted Hero Care candidates that match, and provides instant visibility into your staffing metrics. It's all of your heroics, with a dash of our assistance.
            </p>
            <p class="cs-text">
                Hero Care provides healthcare workers for:
            </p>
            <ul class="cs-list">
                <li class="cs-li">
                    <span class="cs-number"><img class="cs-icon" src="/image/about/lightning-black.png" alt="right chevron" width="15" height="15" aria-hidden="true" loading="lazy" decoding="async"></span>
                    Hospitals
                </li>
                <li class="cs-li">
                    <span class="cs-number"><img class="cs-icon" src="/image/about/lightning-black.png" alt="right chevron" width="15" height="15" aria-hidden="true" loading="lazy" decoding="async"></span>
                    Long Term Care Homes
                </li>
                <li class="cs-li">
                    <span class="cs-number"><img class="cs-icon" src="/image/about/lightning-black.png" alt="right chevron" width="15" height="15" aria-hidden="true" loading="lazy" decoding="async"></span>
                    Retirement Homes
                </li>
                <li class="cs-li">
                    <span class="cs-number"><img class="cs-icon" src="/image/about/lightning-black.png" alt="right chevron" width="15" height="15" aria-hidden="true" loading="lazy" decoding="async"></span>
                    Agencies
                </li>
                <li class="cs-li">
                    <span class="cs-number"><img class="cs-icon" src="/image/about/lightning-black.png" alt="right chevron" width="15" height="15" aria-hidden="true" loading="lazy" decoding="async"></span>
                    Corporate
                </li>
                <li class="cs-li">
                    <span class="cs-number"><img class="cs-icon" src="/image/about/lightning-black.png" alt="right chevron" width="15" height="15" aria-hidden="true" loading="lazy" decoding="async"></span>
                    Events
                </li>
                <li class="cs-li">
                    <span class="cs-number"><img class="cs-icon" src="/image/about/lightning-black.png" alt="right chevron" width="15" height="15" aria-hidden="true" loading="lazy" decoding="async"></span>
                    Entertainment
                </li>
                <li class="cs-li">
                    <span class="cs-number"><img class="cs-icon" src="/image/about/lightning-black.png" alt="right chevron" width="15" height="15" aria-hidden="true" loading="lazy" decoding="async"></span>
                    Industrial
                </li>
                <li class="cs-li">
                    <span class="cs-number"><img class="cs-icon" src="/image/about/lightning-black.png" alt="right chevron" width="15" height="15" aria-hidden="true" loading="lazy" decoding="async"></span>
                    Travel
                </li>
                <li class="cs-li">
                    <span class="cs-number"><img class="cs-icon" src="/image/about/lightning-black.png" alt="right chevron" width="15" height="15" aria-hidden="true" loading="lazy" decoding="async"></span>
                    And more
                </li>
            </ul>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="/contact">Book Demo</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Staffing                   -->
<!-- ============================================ -->

<section id="sbs-r-318">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-left">
            <source media="(max-width: 600px)" srcset="/image/about/chart.png">
            <source media="(min-width: 601px)" srcset="/image/about/chart.png">
            <img loading="lazy" decoding="async" src="/image/about/chart.png" alt="chart" width="520" height="680">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">Growing Team</span>
            <h2 class="cs-title">We're Staffing!</h2>
            <br>
            <ul class="cs-list">
                <li class="cs-li">
                    <span class="cs-number"><img class="cs-icon" src="/image/about/lightning-black.png" alt="right chevron" width="15" height="15" aria-hidden="true" loading="lazy" decoding="async"></span>
                    Registered Nurses
                </li>
                <li class="cs-li">
                    <span class="cs-number"><img class="cs-icon" src="/image/about/lightning-black.png" alt="right chevron" width="15" height="15" aria-hidden="true" loading="lazy" decoding="async"></span>
                    Registered/ Licensed Practical Nurses
                </li>
                <li class="cs-li">
                    <span class="cs-number"><img class="cs-icon" src="/image/about/lightning-black.png" alt="right chevron" width="15" height="15" aria-hidden="true" loading="lazy" decoding="async"></span>
                    Nurse Practitioners
                </li>
                <li class="cs-li">
                    <span class="cs-number"><img class="cs-icon" src="/image/about/lightning-black.png" alt="right chevron" width="15" height="15" aria-hidden="true" loading="lazy" decoding="async"></span>
                    Personal Support Workers
                </li>
                <li class="cs-li">
                    <span class="cs-number"><img class="cs-icon" src="/image/about/lightning-black.png" alt="right chevron" width="15" height="15" aria-hidden="true" loading="lazy" decoding="async"></span>
                    Dental Hygienist/Assistants
                </li>
                <li class="cs-li">
                    <span class="cs-number"><img class="cs-icon" src="/image/about/lightning-black.png" alt="right chevron" width="15" height="15" aria-hidden="true" loading="lazy" decoding="async"></span>
                    Physicians
                </li>
                <li class="cs-li">
                    <span class="cs-number"><img class="cs-icon" src="/image/about/lightning-black.png" alt="right chevron" width="15" height="15" aria-hidden="true" loading="lazy" decoding="async"></span>
                    NEW GRADS welcome!
                </li>
                <li class="cs-li">
                    <span class="cs-number"><img class="cs-icon" src="/image/about/lightning-black.png" alt="right chevron" width="15" height="15" aria-hidden="true" loading="lazy" decoding="async"></span>
                    More coming
                </li>
            </ul>
            <a class="cs-button-solid" href="/contact">Join Hero Care</a>
        </div>
    </div>
</section> 

<!-- ============================================ -->
<!--              Empower Organizations           -->
<!-- ============================================ -->

<section id="sbs2" class="organization">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/image/about/callhero.png">
                <source media="(min-width: 601px)" srcset="/image/about/callhero.png">
                <img loading="lazy" decoding="async" src="/image/about/callhero.png" alt="comic graphic" width="630" height="630">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">Makes Us The Same</span>
            <h2 class="cs-title">What Makes Hero Care Different?</h2>
            <p class="cs-text">
                What makes Hero Care different is really what makes us the same.
            </p>
            <p class="cs-text">
                We are a united force of nurses and doctors that have experienced the pains of staffing shortages first hand.
            </p>
            <p class="cs-text">
                We speak your language and understand what it takes to work in this industry. We have the knowledge, skill and judgment to expertly place staff in the various areas of healthcare, giving us a competitive edge and you the best possible match for your needs, stat!
            </p>
            <p class="cs-text">
                Our Hero Care app sends up the signal to healthcare workers wide and far, while the web dashboard allows organizations like you to easily access our roster, post your requests and review the candidates we're confident that match. Tech that's created with you in mind and developed in-house by nurses and doctors (with the help of a few tech pros!) It's medical staffing, made easy.
            </p>
            <p class="cs-text">
                Healthcare Alliance, Assemble!
            </p>
        </div>
    </div>
</section>
                                                      
<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- <section id="content-page">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Long Term Care Homes</span></h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4-6</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis laboriosam eum quae in temporibus cumque tempora expedita mollitia nostrum adipisci, ipsum commodi, cupiditate, sequi quos enim! Quaerat esse non sunt! Lorem ipsum dolor sit amet <a href="">link example</a>. Est, quis!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis laboriosam eum quae in temporibus cumque tempora expedita mollitia nostrum <strong>adipisci, ipsum commodi</strong>, cupiditate, sequi quos enim! 
            </p>
            <h3>Heading 3</h3>
            <ol>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ol>
            <h4>Heading 4-6</h4>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/orange.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/orange.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/orange.jpg" alt="person" width="570" height="680">
            </picture>
            <picture class="cs-person">
                <source media="(max-width: 600px)" srcset="/assets/images/nurse4.png">
                <source media="(min-width: 601px)" srcset="/assets/images/nurse4.png">
                <img loading="lazy" decoding="async" src="/assets/images/nurse4.png" alt="nurse" width="570" height="680">
            </picture>
            <img class="cs-flower" loading="lazy" decoding="async" src="/assets/images/blam2.png" alt="flower graphic" width="362" height="350" aria-hidden="true">

            <img class="cs-sense" loading="lazy" decoding="async" src="/assets/images/spider-sense.svg" alt="spidey sense graphic" width="80" height="89" aria-hidden="true">
        </div>
    </div>
</section> -->

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Try 
                <span>
                    <span class="cs-hero">Hero Care</span>
                    <img loading="lazy" decoding="async" src="/image/icon/logo.svg" alt="heros" width="500" height="660" aria-hidden="true">
                </span> 
                Free</h2>
            <div class="cs-button-group">
                <a class="cs-button-solid" href="/contact">Fill Schedule, FAST</a>
                <a class="cs-button-solid" href="/" target="_blank" rel="noopener">Find Jobs, STAT</a>
            </div>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/image/about/cta2.png">
        <source media="(min-width: 601px)" srcset="/image/about/cta2.png">
        <img loading="lazy" decoding="async" src="/image/about/cta2.png" alt="heros" width="1920" height="660" aria-hidden="true">
    </picture>
</section>
                                </main>
    <!-- ============================================ -->
    <!--                   Footer                     -->
    <!-- ============================================ -->

    <section id="cs-footer">
        <div class="cs-container">
            <div class="cs-top">
                <!-- Logo Group -->
                <div class="cs-logo-group">
                    <a aria-label="go back to home" class="cs-logo" href="/">
                        <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/herocare.svg" alt="logo" width="158" height="37">
                    </a>
                </div>
                <!-- Contact Info -->
                <ul class="cs-ul">
                    <li class="cs-li">
                        <span class="cs-header">Contact</span>
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/mail-teal.svg" alt="phone" width="24" height="24">
                        <a class="cs-link cs-phone" href="#">hello@yourbrand.com</a>
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/pin-teal.svg" alt="pin" width="24" height="24">
                        <span class="cs-link cs-address">
                            Toronto, ON
                        </span>
                    </li>
                </ul>
                <!--Sitemap-->
                <ul class="cs-ul cs-sitemap">
                    <li class="cs-li">
                        <span class="cs-header">Sitemap</span>
                    </li>
                    <li class="cs-li">
                        <a class="cs-link" href="/about">
                            <img class="cs-arrow" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/angle-right.svg" alt="arrow" width="4" height="7">
                            About
                        </a>
                    </li>
                    <li class="cs-li">
                        <a class="cs-link" href="/organizations">
                            <img class="cs-arrow" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/angle-right.svg" alt="arrow" width="4" height="7">
                            Organizations
                        </a>
                    </li>
                    <li class="cs-li">
                        <a class="cs-link" href="/workers">
                            <img class="cs-arrow" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/angle-right.svg" alt="arrow" width="4" height="7">
                            Health Care Pros.
                        </a>
                    </li>
                    <li class="cs-li">
                        <a class="cs-link" href="/contact">
                            <img class="cs-arrow" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/angle-right.svg" alt="arrow" width="4" height="7">
                            Contact
                        </a>
                    </li>
                </ul>
                <div class="cs-subscribe-group">
                    <a class="cs-seal" href=""><img loading="lazy" decoding="async" src="/image/icon/badge.png" width="300px" height="300px" alt="TOP HEALTHCARE STAFFING" /></a>
                    <span class="cs-header">Subscribe to our news</span>
                    <form class="cs-form" name="Footer Subscribe" method="post">
                        <input id="email" aria-label="email" class="cs-input" name="email" type="email" placeholder="Email" required>
                        <button name="submit" type="submit" id="cs-submit" class="button-transparent" data-submit="...Sending">Subscribe</button>
                    </form>
                </div>
            </div>
            <!--Bottom Copyright And Social-->
            <div class="cs-bottom">
                <div class="cs-copyright">
                    <span>Copyright 2023</span>
                    <div class="cs-flex">
                        <a class="cs-copyright-link" href="" target="_blank">Built By Eworks</a>
                        <a href="/privacy-policy" class="cs-copyright-link cs-terms">Privacy Policy</a>
                        <a href="/terms-and-conditions" class="cs-copyright-link cs-terms">Terms & Conditions</a>
                    </div>
                </div>

                <div class="cs-social">
                    <a class="cs-social-link" aria-label="visit linkedin profile" href="" target="_blank" rel="noopener">
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/facebook.svg" alt="facebook" width="11" height="11">
                    </a>
                    <a class="cs-social-link" aria-label="visit linkedin profile" href="" target="_blank" rel="noopener">
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/linkedin.svg" alt="linkedin" width="11" height="11">
                    </a>
                    <a class="cs-social-link" aria-label="visit instagram profile" href="" target="_blank" rel="noopener">
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/instagram-teal.svg" alt="instagram" width="6" height="11">
                    </a>
                    <a class="cs-social-link" aria-label="visit linkedin profile" href="" target="_blank" rel="noopener">
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/indeed.svg" alt="indeed" width="11" height="11">
                    </a>
                </div>
            </div>
        </div>
    </section>
                                

    <script defer src='https://d33wubrfki0l68.cloudfront.net/bundles/3e81bebd00b8a71cfd96f3655691f4ceaecc24f6.js'></script>

    <!--
        This script adds a class to the body after scrolling 100px
        and we used these body.scroll styles to create some on scroll 
        animations with the navbar
    -->
    <script>
        document.addEventListener('scroll', (e) => { 
            const scroll = document.documentElement.scrollTop;
            if(scroll >= 100){
        document.querySelector('body').classList.add('scroll')
            } else {
            document.querySelector('body').classList.remove('scroll')
            }
        });
    </script>

    
</body>
</html>

