<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Swap our for actual link-->
    <link rel="canonical" href="/">

    <meta name="description" content="">
    <meta name="keywords" content="">

    <!--Social Media Display-->
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content=""/>
    <meta property="og:image" content="/assets/images/hero.png"/>
    <meta property="og:image:secure_url" content="/assets/images/hero.png"/>

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Preload -->
    
    <link rel="preload" as="image" href="/assets/images/herocare.svg">
    <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v29-latin-regular.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v29-latin-700.woff2" crossorigin>

    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/dark.css">

    <!-- Loading in page specific CSS sheets from css block -->
    

    <!--Put analytics tag here at the bottom to prevent it from render blocking-->

    <title>Insert Page Title Here</title>
</head>
<body>
    <!--Screen reader skip main nav-->
    <a class="skip" aria-label="skip to main content" href="#main">Click To Skip To Main Content</a>

    <!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <img src="/image/icon/logo.svg" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
        </a>
        <!--Navigation List-->
       <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded-758" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link">
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/about" class="cs-li-link  ">
                            About Us
                        </a>
                    </li>
                    <li class="cs-li cs-dropdown" tabindex="0">
                        <span class="cs-li-link cs-active">
                            Services
                            <img class="cs-drop-icon" src="/image/icon/Icons_down.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                        </span>
                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li">
                                <a href="/workers" class="cs-li-link cs-drop-link">Website Build</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/workers" class="cs-li-link cs-drop-link">Website Maintenance </a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/workers" class="cs-li-link cs-drop-link">Local SEO</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/workers" class="cs-li-link cs-drop-link">PPC Ad Management</a>
                            </li>
                        </ul>
                    </li>
                    <li class="cs-li">
                        <a href="/blog" class="cs-li-link ">
                            Blog
                        </a>
                    </li>
                    <li class="cs-li cs-nav-button">
                        <a href="/contact" class="cs-button-solid">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="/contact" class="cs-button-solid cs-cta-button">Contact Us</a>
        <!--Dark Mode toggle, uncomment button code if you want to enable a dark mode toggle-->
        <button id="dark-mode-toggle" aria-label="dark mode toggle">
            <svg class="cs-moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480" xml:space="preserve"><path d="M459.782 347.328c-4.288-5.28-11.488-7.232-17.824-4.96-17.76 6.368-37.024 9.632-57.312 9.632-97.056 0-176-78.976-176-176 0-58.4 28.832-112.768 77.12-145.472 5.472-3.712 8.096-10.4 6.624-16.832S285.638 2.4 279.078 1.44C271.59.352 264.134 0 256.646 0c-132.352 0-240 107.648-240 240s107.648 240 240 240c84 0 160.416-42.688 204.352-114.176 3.552-5.792 3.04-13.184-1.216-18.496z"/></svg>
            <img class="cs-sun" aria-hidden="true" src="/image/icon/sun.svg" decoding="async" alt="moon" width="15" height="15">
        </button>
    </div>
</header>
                                
    <main id="main">

<link rel="preload" as="image" href="/images/int-m.webp">

<link rel="preload" as="image" href="/assets/images/int-m.webp">



<link rel="stylesheet" href="/css/organizations.css">


<!-- Enter html code below -->

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner">
    <div class="cs-container">
        <span class="cs-int-title">For Workers</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/image/about/int.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/image/about/int.jpg">
        <img aria-hidden="true" decoding="async" src="/image/about/int.jpg" alt="comic background" width="1280" height="568">
    </picture>
</div>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-17">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-topper">What We Do</div>
            <h2 class="cs-title">How We Empower Healthcare Workers</h2>
            <p class="cs-text">
                Looking for your next short-term job should be a cinch when you're a qualified and available healthcare worker.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Schedule Flexibility</h3>
                    <p class="cs-item-text">Whether you're an early bird or a night owl, we'll match you with the shifts that suit your needs.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Direct Payments</h3>
                    <p class="cs-item-text">No need to spend time chasing checks - you'll receive timely payment right to your bank account.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Wage Preference</h3>
                    <p class="cs-item-text">Declare your desired earnings and you'll only see positions that met that pay scale.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Low-cost Connections</h3>
                    <p class="cs-item-text">When you cut out the middle-man agency and associated costs, you get more affordable help and higher wages.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Added Benefits</h3>
                    <p class="cs-item-text">To further show our appreciation for our healthcare roster, we'll negotiate perks like coffee allowance, a self care budget, completion bonuses and more.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Travel Opportunities</h3>
                    <p class="cs-item-text">Looking to work in a bustling city, or prefer a scenic view? Canada-wide jobs  openings suit those that love to explore the country while they work.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Resume Growth</h3>
                    <p class="cs-item-text">Bulk up your CV with short-term contract gigs that help make you even more appealing to future employers.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Referral Bonus</h3>
                    <p class="cs-item-text">Tell your friends in the industry about Hero Care and we'll thank you with a healthy bonus.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture aria-hidden="true" class="cs-picture">
                    <img src="/image/about/lightning-black.png" loading="lazy" decoding="async" alt="icon" width="33" height="38">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-heading3">Timely Assistance</h3>
                    <p class="cs-item-text">You will have access to a responsive dedicated account manager to support your role with Hero Care</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-584">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Process</span>
            <h2 class="cs-title">Simple easy steps to get started</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">Process 1</h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit ameet. Don nisi ligula eget dolor quam et. Aenean massa. Cum sociis 
                </p>
                <span class="cs-number">01</span>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Process 1</h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit ameet. Don nisi ligula eget dolor quam et. Aenean massa. Cum sociis 
                </p>
                <span class="cs-number">01</span>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Process 1</h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit ameet. Don nisi ligula eget dolor quam et. Aenean massa. Cum sociis 
                </p>
                <span class="cs-number">01</span>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Process 1</h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor sit ameet. Don nisi ligula eget dolor quam et. Aenean massa. Cum sociis 
                </p>
                <span class="cs-number">01</span>
            </li>
        </ul>
    </div>
</section>


<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-262">
    <div class="cs-container">
        <div class="cs-left-section">
            <h2 class="cs-title">Schedule Your Next Checkup With Us</h2>
            <a href="" class="cs-button-solid">Request Appointment</a>
        </div>
        <div class="cs-content">
            <span class="cs-header">Available Hours</span>
            <p class="cs-p"> 
                Tuesday, Thursday, Friday: 9am-6pm<br>
                ​(closed for lunch 12pm-2pm)
            </p>
            <p class="cs-p">
                Appointments Preferred, Walk-Ins Welcome.<br>
                Saturdays by Appointment Only.
            </p>
        </div>
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cloth-m.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cloth.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/CTA/cloth.jpg" alt="appliance" width="275" height="132">
        </picture>
    </div>
</section>
                                </main>
   <!-- ============================================ -->
    <!--                   Footer                     -->
    <!-- ============================================ -->

    <section id="cs-footer">
        <div class="cs-container">
            <div class="cs-top">
                <!-- Logo Group -->
                <div class="cs-logo-group">
                    <a aria-label="go back to home" class="cs-logo" href="/">
                        <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/logo.svg" alt="logo" width="158" height="37">
                    </a>
                </div>
                <!-- Contact Info -->
                <ul class="cs-ul">
                    <li class="cs-li">
                        <span class="cs-header">Contact</span>
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/mail-teal.svg" alt="phone" width="24" height="24">
                        <a class="cs-link cs-phone" href="#">hello@yourbrand.com</a>
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/pin-teal.svg" alt="pin" width="24" height="24">
                        <span class="cs-link cs-address">
                            Toronto, ON
                        </span>
                    </li>
                </ul>
                <!--Sitemap-->
                <ul class="cs-ul cs-sitemap">
                    <li class="cs-li">
                        <span class="cs-header">Sitemap</span>
                    </li>
                    <li class="cs-li">
                        <a class="cs-link" href="/about">
                            <img class="cs-arrow" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/angle-right.svg" alt="arrow" width="4" height="7">
                            About
                        </a>
                    </li>
                    <li class="cs-li">
                        <a class="cs-link" href="/organizations">
                            <img class="cs-arrow" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/angle-right.svg" alt="arrow" width="4" height="7">
                            Organizations
                        </a>
                    </li>
                    <li class="cs-li">
                        <a class="cs-link" href="/workers">
                            <img class="cs-arrow" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/angle-right.svg" alt="arrow" width="4" height="7">
                            Health Care Pros.
                        </a>
                    </li>
                    <li class="cs-li">
                        <a class="cs-link" href="/contact">
                            <img class="cs-arrow" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/angle-right.svg" alt="arrow" width="4" height="7">
                            Contact
                        </a>
                    </li>
                </ul>
                <div class="cs-subscribe-group">
                    <a class="cs-seal" href=""><img loading="lazy" decoding="async" src="/image/icon/badge.png" width="300px" height="300px" alt="TOP HEALTHCARE STAFFING" /></a>
                    <span class="cs-header">Subscribe to our news</span>
                    <form class="cs-form" name="Footer Subscribe" method="post">
                        <input id="email" aria-label="email" class="cs-input" name="email" type="email" placeholder="Email" required>
                        <button name="submit" type="submit" id="cs-submit" class="button-transparent" data-submit="...Sending">Subscribe</button>
                    </form>
                </div>
            </div>
            <!--Bottom Copyright And Social-->
            <div class="cs-bottom">
                <div class="cs-copyright">
                    <span>Copyright 2023</span>
                    <div class="cs-flex">
                        <a class="cs-copyright-link" href="" target="_blank">Built By Eworks</a>
                        <a href="/privacy-policy" class="cs-copyright-link cs-terms">Privacy Policy</a>
                        <a href="/terms-and-conditions" class="cs-copyright-link cs-terms">Terms & Conditions</a>
                    </div>
                </div>

                <div class="cs-social">
                    <a class="cs-social-link" aria-label="visit linkedin profile" href="" target="_blank" rel="noopener">
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/facebook.svg" alt="facebook" width="11" height="11">
                    </a>
                    <a class="cs-social-link" aria-label="visit linkedin profile" href="" target="_blank" rel="noopener">
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/linkedin.svg" alt="linkedin" width="11" height="11">
                    </a>
                    <a class="cs-social-link" aria-label="visit instagram profile" href="" target="_blank" rel="noopener">
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/instagram-teal.svg" alt="instagram" width="6" height="11">
                    </a>
                    <a class="cs-social-link" aria-label="visit linkedin profile" href="" target="_blank" rel="noopener">
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/image/icon/indeed.svg" alt="indeed" width="11" height="11">
                    </a>
                </div>
            </div>
        </div>
    </section>
                                

    <script defer src='https://d33wubrfki0l68.cloudfront.net/bundles/3e81bebd00b8a71cfd96f3655691f4ceaecc24f6.js'></script>

    <!--
        This script adds a class to the body after scrolling 100px
        and we used these body.scroll styles to create some on scroll 
        animations with the navbar
    -->
    <script>
        document.addEventListener('scroll', (e) => { 
            const scroll = document.documentElement.scrollTop;
            if(scroll >= 100){
        document.querySelector('body').classList.add('scroll')
            } else {
            document.querySelector('body').classList.remove('scroll')
            }
        });
    </script>

    
</body>
</html>
