<!DOCTYPE html>
<section id="cs-footer-711">
    <div class="cs-container">
        <!--Top Section-->
        <div class="cs-top">
            <!--Warpped logo in wrapper div so that div can be 100% width to force the lists below it to stay in their line.  The cs-logo can maintain its' max width. we didn't want it 100% width becuase then the blank area to the right of the logo will also result in a click and hover event. -->
            <div class="cs-logo-wrapper">
                <a href="" class="cs-logo">
                    <img src="/images/logo.png" alt="logo" aria-hidden="true" loading="lazy" decoding="async" width="210" height="80">
                </a>
            </div>
            <ul class="cs-ul">
                <li class="cs-li">
                    <span class="cs-header">Massage</span>
                </li>
                <li class="cs-li">
                    <a href="/services/" class="cs-link">Authentic Thai Massage</a>
                </li>
                <li class="cs-li">
                    <a href="/services/" class="cs-link">Aromatherapy Massage</a>
                </li>
                <li class="cs-li">
                    <a href="/services/" class="cs-link">Lomi Lomi Massage</a>
                </li>
                <li class="cs-li">
                    <a href="/services/" class="cs-link">Thai Herbal Compress</a>
                </li>
                <li class="cs-li">
                    <a href="/services/" class="cs-link">Hot Stone Massage</a>
                </li>
                <li class="cs-li">
                    <a href="/services/" class="cs-link">Foot Reflexology Massage</a>
                </li>
                <li class="cs-li">
                    <a href="/services/" class="cs-link">Back, Neck, Shoulders and Head</a>
                </li>
                <li class="cs-li">
                    <a href="/services/" class="cs-link">Cyclisist Regeneration Massage</a>
                </li>
                <li class="cs-li">
                    <a href="/services/" class="cs-link">Jet Lag Recovery Package</a>
                </li>
                
            </ul>
            <ul class="cs-ul">
                <li class="cs-li">
                    <span class="cs-header">Spa</span>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Organic Facial</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Glow To Go</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Anti-Aging Facial</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Oxygenating Facial</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Body Scrub Treatment</a>
                </li>
            </ul>
            <ul class="cs-ul cs-contact-ul">
                <li class="cs-li">
                    <span class="cs-header">Contact</span>
                </li>
                <li class="cs-li">
                    <a href="tel:555-456 7899" class="cs-link">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fphone-stroke-grey1.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        972 282 791
                    </a>
                </li>
                <li class="cs-li">
                    <a href="mailto:info@example.com" class="cs-link">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fmail-stroke-grey1.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        info@aromathai.cat
                    </a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link" target="_blank" rel="noopener">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpin-stroke-grey1.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        C/Obra 3, 17001 Girona, Spain
                    </a>
                </li>
            </ul>
        </div>
        <!--Middle Section-->
        <div class="cs-middle">
            <!--Navigation-->
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <a href="" class="cs-nav-link">Home</a>
                </li>
                <li class="cs-nav-li">
                    <a href="" class="cs-nav-link">About Us</a>
                </li>
                <li class="cs-nav-li">
                    <a href="" class="cs-nav-link">Gift Cards</a>
                </li>
                <li class="cs-nav-li">
                    <a href="" class="cs-nav-link">Massage</a>
                </li>
                <li class="cs-nav-li">
                    <a href="" class="cs-nav-link">Spa</a>
                </li>
                <li class="cs-nav-li">
                    <a href="" class="cs-nav-link">Contact</a>
                </li>
            </ul>
            <!--Social-->
            <ul class="cs-social">
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ffacebook-grey.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ftwitter-grey.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Finstagram-grey.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fyoutube-grey.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                    </a>
                </li>
            </ul>
        </div>
        <!--Bottom Section-->
        <div class="cs-bottom">
            <span class="cs-copyright">
                © Copyright 2023 - <a href="" class="cs-copyright-link">Aroma Thai Massage & Spa</a>
            </span>
        </div>
    </div>
</section>
                                